<div class="img-wrapper">
    <div class="front">
        <a href="product-page(no-sidebar).html"><img src="../../assets/images/marketplace/1.jpg"
                class="img-fluid blur-up lazyload bg-img" alt=""></a>
    </div>
    <div class="cart-info cart-wrap">
        <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0"><i class="ti-heart"
                aria-hidden="true"></i></a>
        <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View" tabindex="0"><i
                class="ti-search" aria-hidden="true"></i></a>
        <a href="compare.html" title="Compare" tabindex="0"><i class="ti-reload" aria-hidden="true"></i></a>
    </div>
    <div class="add-button" data-toggle="modal" data-target="#addtocart">add to
        cart</div>
</div>
<div class="product-detail">
    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> <i class="fa fa-star"></i></div>
    <a href="product-page(no-sidebar).html">
        <h6>Slim Fit Cotton Shirt</h6>
    </a>
    <h4>$500</h4>
</div>